.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  width: 100%;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 2rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  display: block;
}

.logo-container {
  display: relative;
  width: 90px;
}
.header-item-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-item-right {
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
  margin-left: auto;
}
