@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/opensans/static/OpenSans/OpenSans-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/opensans/static/OpenSans/OpenSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/opensans/static/OpenSans/OpenSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/opensans/static/OpenSans/OpenSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/opensans/static/OpenSans/OpenSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/opensans/static/OpenSans/OpenSans-ExtraBold.ttf");
  font-weight: 800;
}

:root {
  --primary-100: #1e3932;
  --primary-10: #d4e9e2;
  --secondary-100: #008248;
  --secondary-10: #f1f8f6;
  --neutral-50: #f3f1e7;
  --neutral-10: #fff;
  --neutral-100: #000000;
}
html {
  font-size: 62.5%;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}
body {
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
}

.text-secondary {
  color: var(--secondary-100);
}

.text-primary {
  color: var(--primary-100);
}

.text-white {
  color: var(--neutral-10);
}

.text-uppercase {
  text-transform: uppercase;
}
.text-underline {
  text-decoration: underline;
}
.text-hover-secondary:hover {
  color: var(--secondary-100);
}
.text-sm {
  font-size: 1.4rem;
}
.pointer {
  cursor: pointer;
}
.bg-white {
  background-color: var(--neutral-10);
}
.bg-primary {
  background-color: var(--primary-100);
}
.bg-secondary {
  background-color: var(--secondary-100);
}

.font-weight-900 {
  font-weight: 900;
}
.font-weight-800 {
  font-weight: 800;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-300 {
  font-weight: 300;
}
.font-weight-200 {
  font-weight: 200;
}
.font-weight-100 {
  font-weight: 100;
}
.page-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1440px;
}
.nav {
  display: flex;
  gap: 2rem;
}
.nav-item {
  letter-spacing: 2px;
  color: var(--neutral-100);
  text-transform: uppercase;
  padding: 3rem 0;
  cursor: pointer;
}

.nav-item:hover {
  color: var(--secondary-100);
}

.nav-item-active {
  border-bottom: 6px solid var(--secondary-100);
}

.btn {
  padding: 7px 16px;
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  line-height: 1.2;
  font-weight: 600;
  font-size: 14px;
}

.btn-primary {
  border: none;
  background-color: var(--secondary-100);
  color: white;
}
.btn-secondary {
  border: 1px solid var(--neutral-100);
  background-color: var(--neutral-10);
  color: var(--neutral-100);
}

.btn-secondary:hover {
  background-color: var(--neutral-50);
}

.btn-neutral {
  border: none;
  background-color: var(--neutral-100);
  color: var(--neutral-10);
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  gap: 0.75rem;
}
.header-item-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
