
:root{
  --primary-100: #1e3932;
  --primary-10: #d4e9e2;
  --secondary-100: #008248;
  --secondary-10: #f1f8f6;
  --neutral-50: #f3f1e7;
  --neutral-10: #fff;
  --neutral-100:#000000;

}
ul,ol,li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


